@font-face {
  font-family: "Fairy cottage";
  src: url("./Fonts/Fairy-Cottage.ttf");
}

@font-face {
  font-family: "Magical mystery";
  src: url("./Fonts/Magical-Mystery.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  justify-items: center;
  align-items: start;
  text-align: center;
  background-color: #dab1da; /*dab1da*/
  gap: 20px;
  cursor: url("./images/magic-wand.png"), auto;
}

button {
  overflow: auto;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  background-color: rebeccapurple;
  color: white;
  cursor: url("./images/wand-pointer.png"), auto;
}

button:hover {
  background-color: #4b0082;
}

button:active {
  background-color: #331a4d;
}

#home,
#menu,
#contact {
  display: grid;
  gap: 50px;
}

/* Titles */
.title1 {
  font-family: "Fairy cottage";
  font-size: 120px;
  color: rebeccapurple;
}

.title2 {
  font-family: "Fairy cottage";
  font-size: 70px;
  color: rebeccapurple;
}

.title3 {
  font-family: "Magical mystery";
  font-size: 25px;
  margin: 10px;
  color: #331a4d;
}

.price {
  font-weight: bolder;
}

#fairy {
  height: 100px;
  width: 100px;
}

.food {
  height: 50px;
  width: 50px;
}

.light {
  padding: 10px;
  margin: 10px;
}

.light:hover {
  background-color: #f6cefc;
  border-radius: 10px;
}

/* Sections */
section {
  display: none;
}

section.home {
  display: block;
}
